@import url('https://fonts.googleapis.com/css?family=Audiowide|Faster+One');

.pageRecords {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 1rem;
  margin-left: 1rem;
  color: black;
}

.recordData tr {
  margin: 3px;
}

tr:nth-child(even){
  background-color: lightgrey;
}

.recordData td {
  padding: 5px;
  margin-right: 4rem;
  font-size: 3rem;
}


.pageRecords select {
  background-color: #599CED;
  font-family: 'Audiowide', cursive;
  font-size: 3rem;
  color: white;
  border-radius: 0.5rem;
  border: 0.2rem solid black;
  cursor: pointer;
}

.table h2 {
  font-size: 3rem;
  font-family: 'Audiowide', cursive;
}

.table td, th {
  padding: 1rem 4rem 1rem 1rem;
}

.tableHeader th {
  font-size: 2.5rem;
  text-align: left;
}
