@import url('https://fonts.googleapis.com/css?family=Audiowide|Faster+One');

.pageRecords {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    margin-left: 1rem;
    color: black;
}

.recordData td {
  float: right;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 4rem;
  font-size: 3rem;
}

.pageRecords select {
  background-color: #599CED;
  font-family: 'Audiowide', cursive;
  font-size: 3rem;
  color: white;
  border-radius: 0.5rem;
  border: 0.2rem solid black;
  cursor: pointer;
}
