@import url('https://fonts.googleapis.com/css?family=Audiowide|Faster+One');

.app-sidebar {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 100vh;
  font-family: 'Audiowide', arial;
  background-color: #599CED;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
}

.app-sidebar p {
  color: black;
  font-size: 1.5em;
}

.home-page1, .results-page1, .skaters-page1, .records-page1, .season-page1, .contact-page1, .faq-page1 {
  width: 14rem;
  height: auto;
  font-size: 1.5rem;
  font-family: 'Audiowide', arial;
  background-color: inherit;
  border: 0.1rem solid grey;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 14rem;
  height: auto;
}

.social-media {
  display: flex;
  font-size: 2.5rem;
  cursor: pointer;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 3rem;
}

.app-sidebar :hover {
  background-color: #6AB0FF;
  color: white;
}
